{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-4">
        <h1>La demande de réservation a bien été acceptée !</h1>

        <p>Vous allez recevoir un mail de confirmation.</p>
    </section>
{% endblock %}
