<div class="row">
    <h2 class="mx-auto my-5">Oups ...</h2>
</div>

<div class="row">
    <a class="btn btn-primary mx-auto text-center" href="{{ path('ekinotheque_home') }}">Revenir à la liste complète</a>
</div>
