{% extends 'mail/partial/mail_base.html.twig' %}

{% block body %}
<tbody>
    <tr>
        <td valign="top" class="mcnTextContent" style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">

            <h1 style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">Votre livre a été rendu.</h1>
            <br>
            Le livre :<br>
            <strong>{{ borrowedBook.book.title }}</strong><br>
            Emprunté par <strong>{{ borrowedBook.book.owner }}</strong><br>
            Du <strong>{{ borrowedBook.borrowingDate | date('d-m-Y') }}</strong> au <strong>{{ borrowedBook.returnDate | date('d-m-Y') }}</strong><br>
        </td>
    </tr>
</tbody>
{% endblock %}
